<%- include("partials/header"); %>
<h1>Compose</h1>
<form action="/compose" method="POST">
    <div class="form-group">
        <label for="post-title">Title</label>
        <input type="text" class="form-control"  name="postTitle">
</div>    
<div class="form-group">
    <label for="post-message">Post</label>
    <textarea class="form-control message" name="postMessage"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include("partials/footer") %> 